<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.9.2/dist/htmx.js"></script>

<main class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="card card-body shadow mb-2">
                <div class="col-md-6 offset-md-3 text-center py-1 text-primary">
                    <h4>REPORTE DE POBLACION VS PADRON NOMINAL - MICROREDES</h4>
                </div>
                <form method="GET" enctype="multipart/form-data" action="{% url 'rpt_pn_poblacion_microred_xls' %}">
                <!-- cabecera-->   
                <div class="form row">
                    <!-- años-->
                    <div class="col-md-2 form-group">
                        <div class="form-group">
                            <label class="text-danger" for="anio" >AÑO:</label>
                            <input type="text" 
                                    class="form-control" 
                                    id="anio" 
                                    name="anio"
                                    value="2025"
                                    readonly>
                        </div>
                    </div>
                    <!-- meses-->
                    <div class="col-md-3 form-group">
                        <div class="form-group">
                            <label class="text-danger" for="mes">MES DE EVALUACION:</label>
                            <input type="text" 
                                    class="form-control" 
                                    id="mes" 
                                    name="mes"
                                    value="JUNIO"
                                    readonly>
                        </div><!-- meses -->
                    </div>
                    <!-- Edades-->
                    <div class="col-md-4 form-group">
                        <div class="form-group">
                            <label class="text-danger" for="edades">POR EDADES:</label>
                            <select class="form-control" id="edades" name="edades">
                                <option value = "" selected>Todos</option>
                                <option value = "N28_dias" >28 dias</option>
                                <option value = "N0a5meses" >0 a 5meses</option>
                                <option value = "N6a11meses" >6 a 11meses</option>
                                <option value = "cero_anios" >0 a 12 meses</option>
                                <option value = "un_anios" >1 año</option>
                                <option value = "dos_anios" >2 años</option>
                                <option value = "tres_anios" >3 años</option>
                                <option value = "cuatro_anio" >4 años</option>
                                <option value = "cinco_anios" >5 años</option> 
                            </select>
                        </div>
                    </div>
                    <!-- indicador cumple no cumple-->
                    <div class="col-md-3 form-group">
                        <div class="form-group">
                            <label class="text-danger" for="cumple">ESTADO ACTUALIZACION:</label>
                            <select class="form-control form-select-sm" id="cumple" name="cumple">
                                <option value="">Todos</option>
                                <option value="1">Cumplen</option>
                                <option value="0">NO Cumplen</option>
                            </select>
                        </div>            
                    </div>
                </div>
            <!-- red de salud-->    
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="text-primary" for="red">REDES :</label>
                        <select class="form-control" name="red" id="red" 
                                hx-get="{% url 'p_microredes_pn_poblacion' %}" 
                                hx-target="#p_microredes" 
                                hx-trigger="change"
                                hx-include="[name='red']">
                            <option value="">--- SELECCIONAR ---</option>
                            {% for p in redes %}
                            <option value="{{ p.codigo_red_filtrado}}">{{ p.Red }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>   
            <!-- fin cabecera-->
            <!--- INCLUDE DROP INCLUYENTE --->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div id="p_microredes">
                            {% include 'pn_poblacion/partials/p_microredes.html' %}
                        </div>
                    </div>
                </div>
            </div> 
            <!--- FIN INCLUDE DROP INCLUYENTE --->
            <br>        
                <!--- Button -->   
                <div class="col-md-6 offset-md-3 text-center py-1 form-group">        
                    <button type="submit" class="btn btn-success btn-lg text-center"><i class="fa fa-file-excel"></i> Procesar</button>
                </div>
            </form>
        </section>
    </div> 
</div>
</main>