<main class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="card card-body shadow mb-2">
            <div class="col-md-6 offset-md-3 text-center py-1 text-primary">
                <h4>POR DISTRITO</h4>
            </div>
          <form method="GET" enctype="multipart/form-data" action="{% url 'rpt_seguimiento_dist_xls' %}"> 
            <!-- cabecera-->                  
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                    <label class="text-primary" for="provincia">PROVINCIA :</label>
                    <select class="form-control" name="provincia" hx-get="{% url 'p_distritos_sello' %}" hx-trigger="change" hx-target="#p_distritos_sello">
                        <option value="">--- SELECCIONAR ---</option>
                        {% for p in provincias %}
                        <option value="{{ p.ubigueo_filtrado }}">{{ p.Provincia }} </option>
                        {% endfor %}
                    </select>
                </div>
              </div>
            </div>
                
                <!--- INCLUDE DROP INCLUYENTE --->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div id="p_distritos_sello">
                          {% include 'sello/partials/p_distritos.html' %}
                      </div>
                    </div>
                  </div>
                </div> 
                <!--- FIN INCLUDE DROP INCLUYENTE --->

            <br>        
            <div class="col-md-6 offset-md-3 text-center py-1 form-group">        
              <button type="submit" class="btn btn-success btn-lg text-center"><i class="fa fa-file-excel"></i> Procesar</button>
            </div>
          </form>
        </section>
      </div> 
    </div>
  </main>