<main class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="card card-body shadow mb-2">
          <div class="col-md-6 offset-md-3 text-center py-1 text-primary">
            <h4>POR PROVINCIA SELLO</h4>
          </div>
          <form method="GET" enctype="multipart/form-data">
            <!-- cabecera-->   
            <div class="form row">
              <div class="col-md-2 form-group">
                  <div class="form-group">
                    <label class="text-danger" for="anio">AÑO:</label>
                    <input class="form-control form-select-sm" id="anio" name="anio" placeholder='2024'>
                  </div>
              </div>
              <div class="col-md-10 form-group">
                <div class="form-group">
                  <div class="form-group">
                    <label class="text-danger" for="provincia">PROVINCIA :</label>
                    <select class="form-control" name="provincia">
                      <option value="">--- SELECCIONAR ---</option>
                      {% for p in provincias %}
                      <option value="{{ p.ubigueo_filtrado }}">{{ p.Provincia }} </option>
                      {% endfor %}
                    </select>
                  </div>
              </div>
            </div>    
            <!-- fin cabecera-->
            <br>        
            <div class="col-md-6 offset-md-3 text-center py-1 form-group">        
              <button type="submit" class="btn btn-success btn-lg text-center"><i class="fa fa-file-excel"></i> PROCESAR</button>
            </div>
          </form>
        </section>
      </div> 
    </div>
  </main>