<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.9.2/dist/htmx.js"></script>

    <label class="text-primary" for="p_microredes" name="p_microredes">Microred : </label>
    <select class="form-control custom-select" name="p_microredes" id="p_microredes" hx-trigger="change" hx-target={% url 'rpt_paquete_gestante_red_xls' %}>
        <option value="">--- SELECCIONAR ---</option>
        {% for m in microredes %}
        <option value="{{ m.Codigo_MicroRed }}">{{ m.MicroRed }}</option>
        {% endfor %}
    </select>