<main class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="card card-body shadow mb-2">
            <div class="col-md-6 offset-md-3 text-center py-1 text-primary">
                <h4>POR MICROREDES DE SALUD</h4>
            </div>
            <form method="GET" enctype="multipart/form-data" action="{% url 'rpt_v3_paquete_terapeutico_red_xls' %}">
                <!-- cabecera-->   
                <div class="form row">
                  <div class="col-md-3 form-group">
                      <div class="form-group">
                          <label class="text-danger" for="anio" >AÑO:</label>
                          <select class="form-control form-select-sm" id="anio" name="anio">
                              <option value = '2024'>2024</option>
                              <option value = '2025' selected>2025</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3 form-group">
                      <div class="form-group">
                          <label class="text-danger" for="fecha_inicio">MES INICIO:</label>
                          <select class="form-control" id="fecha_inicio" name="fecha_inicio">
                              {% for m in mes_inicio %}
                              <option value="{{ m.nro_mes }}">{{ m.Mes }} </option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3 form-group">
                      <div class="form-group">
                          <label class="text-danger" for="fecha_fin">MES FIN:</label>
                          <select class="form-control" id="fecha_fin" name="fecha_fin">
                              {% for m in mes_fin %}
                              <option value="{{ m.nro_mes }}">{{ m.Mes }} </option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3 form-group">
                      <div class="form-group">
                          <label class="text-danger" for="fecha_fin">ESTADO INDICADOR:</label>
                          <select class="form-control form-select-sm" id="cumple" name="cumple">
                              <option value="">Todos</option>
                              <option value="1">Cumplen</option>
                              <option value="0">NO Cumplen</option>
                          </select>
                      </div>
                  </div>
              </div>    
            <!-- fin cabecera-->              
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="text-primary" for="red">REDES :</label>
                      <select class="form-control" id="red" name="red" hx-get="{% url 'p_microredes_v3_paquete_terapeutico' %}" hx-trigger="change" hx-target="#p_microredes">
                          <option value="">--- SELECCIONAR ---</option>
                          {% for p in redes %}
                          <option value="{{ p.codigo_red_filtrado }}">{{ p.Red }} </option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
          </div>
          <br> 

            <!--- INCLUDE DROP INCLUYENTE --->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div id="p_microredes">
                      {% include 'v3_paquete_terapeutico/partials/p_microredes.html' %}
                  </div>
                </div>
              </div>
            </div> 
            <!--- FIN INCLUDE DROP INCLUYENTE --->

            <br>        
            <!--- Button -->   
            <div class="col-md-6 offset-md-3 text-center py-1 form-group">        
                <button type="submit" class="btn btn-success btn-lg text-center"><i class="fa fa-file-excel"></i> Procesar</button>
            </div>
          </form>
        </section>
      </div> 
    </div>
  </main>