{% extends "base.html" %}
{% load static %}
{% block content_inicio %}
<style>
  body {
    background: url("{% static 'assets/dist/img/fondo_padron_nominal_2.jpg' %}") 
                no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Opcional: puedes añadir un color de respaldo */
    background-color: #f0f0f0;
  }
</style>



<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
      <form action="/signin/" method="POST" class="card card-body">
        <div class="col-md-4 offset-md-4">
          <img src="{% static 'assets/dist/img/logo_login_3.png' %}"
            alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
        </div>
        <h2 class="text-center">Iniciar Sesión</h2>
        {{error}}
        {% csrf_token %}
        
        <div class="mb-3">
          <label for="username">USUARIO</label>
          <input type="text" name="username" id="username" class="form-control" placeholder="Ingresa el numero de tu DNI">
        </div>

        <div class="mb-3">
          <label for="password">CONTRASEÑA</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Ingresa tu contraseña o password">
        </div>
        <button class="btn btn-primary">
          Iniciar Sesión
        </button>
      </form>
    </div> 
  </div>
</main>
{% endblock %}